<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>writing</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
Writing Form



<form action="posts" method="post">
writer : <input type="text" name="writer" id="writer">
title : <input type="text" name="title" id="title">
content : <input type="text" name="content" id="content">
<!--hashTags : <input type="text" name="hashTags" id="hashTags">-->
<input id="writebtn" type="button" value="작성">
</form>
<br>

<input id="allpostbtn" type="button" value="전체게시물">
<br>
<br>
<hr>
<div id="allposts"></div>

<br>
<hr>
<div id="paging"></div>



<script>


var page = 2;

// 전체게시물 클릭 시
$(function pagingTest(){

$("#allpostbtn").on("click", function(){
   $.ajax({
        type: "GET",
        url: "/posts",
        dataType: "json",
        contentType: "application/json; charset=UTF-8",
        data: {
            'page': 1
        },

        success: function(res){
            var count = parseInt(res.count);
            var totalCount = parseInt(res.pageInfo.totalCount);
            var currentPage = parseInt(res.pageInfo.currentPage);
            var startPage = parseInt(res.pageInfo.startPage);
            var endPage = parseInt(res.pageInfo.endPage);

            for(var i = 0; i < count; i++) {
                $("#allposts").append("작성자 : " + res.posts[i].author + "<br>");
                $("#allposts").append("제목 : " + res.posts[i].title + "<br>");
                $("#allposts").append("내용 : " + res.posts[i].content);
                $("#allposts").append("<br><hr>");
            } // for

     for(let j = startPage; j <= endPage; j++) {
                $("#paging").append('<input id="pagingNum' + j + '" type="button" value=' + j + '>');
            } // for

        } //success
    }); //ajax
});


 for(let j = 1; j <= 3; j++) {
 $("#pagingNum" + j).on("click", function(){
 alert("page : j");
    page = page;
    alert(page);
    $.ajax({
        type: "GET",
        url: "/posts",
        dataType: "json",
        contentType: "application/json; charset=UTF-8",
        data: {
            'page': page
        },

        success: function(res){
            var count = parseInt(res.count);
            var totalCount = parseInt(res.pageInfo.totalCount);
            var currentPage = parseInt(res.pageInfo.currentPage);
            var startPage = parseInt(res.pageInfo.startPage);
            var endPage = parseInt(res.pageInfo.endPage);

            for(var i = 0; i < count; i++) {
                $("#allposts").append("작성자 : " + res.posts[i].author + "<br>");
                $("#allposts").append("제목 : " + res.posts[i].title + "<br>");
                $("#allposts").append("내용 : " + res.posts[i].content);
                $("#allposts").append("<br><hr>");
            } // for

     for(let j = startPage; j <= endPage; j++) {
                $("#paging").append('<input id="pagingNum' + j + '" type="button" value=' + j + '>');
            } // for




        } //success
    }); //ajax
}); // onclick
} // for

}) //function








// 페이지 클릭 시





// 글 작성
$("#writebtn").on("click", function(){
let writer = $("#writer").val();
let title = $("#title").val();
let content = $("#content").val();
let hashTags = $("#hashTags").val();

    $.ajax({
            type: "POST",
            url: "/posts",
            dataType: "json",
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify({
                'writer' : $("#writer").val(),
                'title' : $("#title").val(),
                'content' : $("#content").val()
            }),
            success: function(res){
            alert("success")
            }
    }); // ajax
    }); // onclick


</script>




</body>
</html>